@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.background{
  position: absolute;
  
}

.about-content{
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%); 
  color: white; 
  font-family: "Montserrat";
  font-size: 1.2em;
  
}
